.margin--bottom {
  margin-bottom: 15px; }

.margin--left {
  margin-left: 15px; }

.margin--top {
  margin-top: 15px; }

.margin--right {
  margin-right: 15px; }

.custom--button {
  border: 0; }

.custom--container {
  display: flex;
  justify-content: center; }

.custom--form {
  display: flex;
  justify-content: center; }
